<p>login works!</p>
<form   class=" mb-4" autocomplete="off" >
    <div class="form-group">
    <label>Username</label>
    <input class="form-control"  required/>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type ="password"class="form-control"  required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8  offset-md-5">
            <button type="submit" class="btn btn lg btn-block" >Sign In</button>
            </div>
            </div>
    </form>
   <router-outlet></router-outlet>